/******************************************************************

Stylesheet: 768px Wide & Up Stylesheet for Serena theme

******************************************************************/

.wrap {
	max-width: 1430px;
  margin: 0 auto;
}

#header {
  margin: 45px auto;
}

a {
	-webkit-transition: color 0.25s ease-in;
	-moz-transition:    color 0.25s ease-in;
	-ms-transition:     color 0.25s ease-in;
	-o-transition:      color 0.25s ease-in;
	transition:         color 0.25s ease-in;
}

.sidebar {
	border-top: none;
}

.nav {
	padding-bottom: 0.25em;
	//border-bottom: 1px solid lighten(black, 60%);
	margin-bottom: 0.5em;

	li {
		display: inline;
		position: relative;
		border-top: none;
		padding: 4px 0;	
		a {
			display: inline !important;
		}
		&:last-child {
			border-right: none;
		}	

		ul.sub-menu,
		ul.children {
			position: absolute;
			width: 600px;
			right: 0;
			display: none;	
			z-index: 8999;

			li {
				float: right;
				border-right: none;
				
				margin-top: 0.5em;
				a {
				}
				&:first-child a {
				}
				&:last-child {
					a {
					}
				}
			}
		} 

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .nav li */

} /* end .nav */

/*********************
FOOTER
*********************/

.credit {
	float: right;
}
