/******************************************************************

Stylesheet: 768px Wide & Up Stylesheet for Serena theme

******************************************************************/

.wrap {
	max-width: 1430px;
  margin: 0 auto;
}

#header {
  margin: 45px auto;
}

a {
	-webkit-transition: color 0.25s ease-in;
	-moz-transition:    color 0.25s ease-in;
	-ms-transition:     color 0.25s ease-in;
	-o-transition:      color 0.25s ease-in;
	transition:         color 0.25s ease-in;
}

.sidebar {
	border-top: none;
}

.nav {

	li {
		display: inline;
		position: relative;
		border-top: none;
		padding: 4px 0;
		a {
			display: inline !important;
		}

		ul.sub-menu,
		ul.children {
			position: absolute;
            display: none;
            text-align: left;
			li {
                display: inline-block;
				margin-top: 0.5em;
				a {
				}
				&:first-child a {
				}
				&:last-child {
					a {
					}
				}
			}
		} 

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .nav li */

} /* end .nav */

/*********************
FOOTER
*********************/

.credit {
	float: right;
}
